body {
	background: grey;
	padding-top: 80px;
	margin-left: 5px;
}
.nav {
	background-color: lightgrey;
	width: 100%;
	margin-bottom: 1px;
	margin-top: -2px;
	border: 2px solid black;
}
.headerImg {
	max-width: 3rem;
}
.link {
	background-color: white;
	color: white;
	padding: 8px;
	border: 1px lightgray solid;
}
.link:active {
	background-color: lightgray;
}
.dropdown {
	background-color: white;
	margin: 1px;
}
.dropdown:active {
	background-color: lightgray;
}
.donors {
	display: grid;
}
.donorCol {
	text-align: center;
}
.donorCard {
	display: inline-block;
	grid-column-start: auto;
	margin-top: 10px;
	border: 1px solid black;
}
.stewCol {
	text-align: center;
}
.stewCard {
	display: inline-block;
	grid-column-start: auto;
	margin-top: 10px;
	border: 1px solid black;
}
.deleteBtn {
	float: left;
}
.hidden {
	display: none;
}
@media only screen and (max-width: 460px) {
	.title {
		display: none;
	}
}
